@charset 'utf-8';

html {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
}
body {
  overflow-x: hidden;
  color: rgb(29, 29, 31);
  letter-spacing: -0.05em;
  background: white;
}
p {
  line-height: 1.6;
}
a {
  color: rgb(29, 29, 31);
  text-decoration: none;
}

.container {
  /* iPhone 가로 스크롤 방지 */
  overflow-x: hidden;
  width: 100%;
}
.normal-content {
  padding-left: 5vw;
  padding-right: 5vw;
  background-color: thistle;
  height: auto;
}

.content-section {
  width: 100%;
  height: 100%;
  margin-top: 100px;
  /* margin-bottom: 200px; */
  background-color: teal;
}
.content-section h1 {
  font-size: 9vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3vh;
  margin-bottom: 3vh;
}
.scroll-section {
  position: relative;
  padding-top: 40vh;
  color: #fff;
}

#scroll-section-0 h1 {
  position: relative;
  top: -10vh;
  z-index: 5;
  font-size: 3.5rem;
  text-align: center;
}
.main-message {
  top: 40vh;
  font-size: 2.5rem;
  opacity: 0;
}
.main-message.a {
  font-size: 3.5rem;
  top: 30vh;
}
.main-message.b {
  font-size: 4.5rem;
}
.main-message p {
  font-weight: bold;
  text-align: center;
  line-height: 1.2;
}
.main-message small {
  display: block;
  margin-bottom: 0.5em;
  font-size: 1.2rem;
}
.sticky-elem {
  display: none;
  position: fixed;
  left: 0;
  width: 100%;
}
#show-scene-0 #scroll-section-0 .sticky-elem,
#show-scene-1 #scroll-section-1 .sticky-elem {
  display: block;
  will-change: transform, opacity;
}

.scroll-effect-end .sticky-elem {
  /* 스크롤 효과가 모두 끝나고, 아래 일반 콘텐츠 영역에서는 sticky-elem들을 모두 안보이도록 */
  display: none !important;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background: white;
  opacity: 0;
  transition: 0.5s;
}
.before-load .container {
  display: none;
}
.before-load .loading {
  opacity: 1;
}
@keyframes loading-spin {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loading-circle-ani {
  0% {
    stroke-dashoffset: 157;
  }
  75% {
    stroke-dashoffset: -147;
  }
  100% {
    stroke-dashoffset: -157;
  }
}
.loading-circle {
  width: 54px;
  height: 54px;
  animation: loading-spin 3s infinite;
}
.loading-circle circle {
  stroke: black;
  stroke-width: 4;
  /* getTotalLength()로 stroke의 길이를 얻어올 수 있음 */
  stroke-dasharray: 157, 157;
  stroke-dashoffset: 0;
  fill: transparent;
  animation: loading-circle-ani 1s infinite;
}

.nav-show {
  opacity: 1 !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 44px;
  padding: 0 1rem;
  z-index: 10;
  border-bottom: 1px solid #ddd;
  -webkit-backdrop-filter: saturate(180%) blur(15px); /*아이폰*/
  -moz-backdrop-filter: saturate(180%) blur(15px); /*파이어폭스*/
  -o-backdrop-filter: saturate(180%) blur(15px); /*오페라*/
  backdrop-filter: saturate(180%) blur(15px);
  background-color: rgba(255, 253, 253, 0.5);
}
.navbar {
  opacity: 0;
}
.navbar-links {
  height: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.05rem;
}
.navbar-links a:not(.navbar-logo) {
  margin-left: 10em;
}
.navbar-logo {
  margin-right: auto;
}
.covid-logo {
  left: 50%;
  top: 30%;
  width: 1000vw;
  transform: translate(-10%, -50%);
}

.ribbon-path {
  left: 50%;
  top: 50%;
  min-width: 850px;
  transform: translate(-50%, -50%);
}
.ribbon-path path {
  fill: none;
  stroke: #5a5153;
  stroke-width: 62;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 1401, 1401;
  stroke-dashoffset: 1401;
}

.data {
  display: flex;
  height: auto;
  width: auto;
}

.data div {
  border-radius: 10px;
  width: 40vw;
  height: 40vw;
  min-width: 40vw;
  margin: 10px 10px 10px 10px;
  text-align: center;
}

.coronaboard p {
  font-size: 1.2rem;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  color: aliceblue;
}
.coronaboard span {
  font-size: 50px;
  color: aliceblue;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.dailyCovidStatus {
  background-color: violet;
  width: 90vw;
  height: 90vw;
}
#onebox {
  background-color: rgb(49, 49, 168);
  justify-content: center;
}
#onebox p {
  background-color: rgba(0, 0, 0, 0.4);
}
#datenum {
  color: red;
  font-size: 30px;
  display: block;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#twobox {
  background-color: rgb(138, 58, 126);
}
#twobox p {
  background-color: rgba(0, 0, 0, 0.4);
}
#threebox {
  background-color: rgb(104, 103, 109);
}
#threebox p {
  background-color: rgba(0, 0, 0, 0.4);
}
#fourbox {
  background-color: rgb(39, 105, 94);
}
#fourbox p {
  background-color: rgba(0, 0, 0, 0.4);
}
.map {
  width: 90vw;
  height: 140vw;
  margin-top: 10vw;
  margin-bottom: 20vw;
  padding-bottom: 10vw;
  background: #1ec6f0;
}
.map svg {
  width: 100%;
  height: 100%;
}
.cityCovidStatus {
  background-color: rgb(77, 3, 77);
  width: 90vw;
  height: 90vw;
}
.tabel {
  left: 50%;
  top: 50%;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 14px 12px rgba(32, 32, 32, 0.3);
  background: #e0dfdf;
  text-align: center;
  margin: auto;
  margin-bottom: 50px;
}

.tabel th {
  padding: 12px 20px;
  /* background: #ba68c8; */
  color: rgb(90, 90, 90);
  text-transform: uppercase;
  font-family: "Noto Sans KR", sans-serif;
}
.tabel thead {
  background: #ffffff;
}

.tabel td {
  width: 349px;
  padding: 10px;
  vertical-align: middle;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: white;
  font-size: 12px;
}
.th-1 {
  display: flex;
  justify-content: left;
  padding-left: 5vw;
}
@media (min-width: 1024px) {
  .navbar-links a:not(.navbar-logo) {
    margin-left: 3em;
  }
  .navbar-logo {
    margin-right: auto;
  }
  .navbar-links {
    height: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    font-size: 1rem;
  }
  .scroll-section {
    position: relative;
    padding-top: 50vh;
    color: #fff;
  }
  #scroll-section-0 h1 {
    font-size: 9vw;
  }
  .normal-content {
    padding-left: 10vw;
    padding-right: 10vw;
    background-color: rgb(196, 51, 196);
  }

  .content-section {
    padding-left: 5vw;
    padding-right: 5vw;
  }
  .two-content {
    display: flex;
  }
  .content-section h1 {
    font-size: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
    margin-bottom: 3vh;
  }
  .data div {
    border-radius: 10px;
    width: 15vw;
    height: 15vw;
    min-width: 15vw;
    margin: 10px 10px 10px 10px;
    text-align: center;
  }
  .coronaboard {
    background-color: tomato;
  }
  .coronaboard p {
    font-size: 1.2rem;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    color: aliceblue;
  }
  .coronaboard span {
    font-size: 50px;
    color: aliceblue;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .dailyCovidStatus {
    background-color: violet;
    width: 40vw;
    height: 40vw;
  }
  .map {
    width: 40vw;
    height: 50vw;
    margin: 0;
    padding: 0;
    background: #1ec6f0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .map svg {
    width: 80%;
    height: 93%;
  }
  .main-message {
    font-size: 4vw;
  }
  .main-message.a {
    font-size: 7vw;
  }
  .main-message.b {
    font-size: 10vw;
  }
  .main-message small {
    font-size: 1.5vw;
  }
  .cityCovidStatus {
    background-color: rgb(65, 3, 65);
    width: 40vw;
    height: 40vw;
  }
  .tabel {
    left: 50%;
    top: 50%;
    width: 60%;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 14px 12px rgba(32, 32, 32, 0.3);
    background: #e0dfdf;
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
  }

  .tabel th {
    padding: 12px 20px;
    /* background: #ba68c8; */
    color: rgb(90, 90, 90);
    text-transform: uppercase;
    font-family: "Noto Sans KR", sans-serif;
  }
  .tabel thead {
    background: #ffffff;
  }

  .tabel td {
    width: 349px;
    padding: 10px;
    vertical-align: middle;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: white;
    font-size: 12px;
  }
  .th-1 {
    display: flex;
    justify-content: left;
    padding-left: 5vw;
  }
}

/* 지도css */
.OUTLINE {
  stroke-linejoin: round;
  stroke: #ffffff;
  stroke-width: 2;
}
#CD11 {
  fill: #f1c40f;
}
#CD26 {
  fill: #16a085;
}
#CD27 {
  fill: #f39c12;
}
#CD28 {
  fill: #2ecc71;
}
#CD29 {
  fill: #e67e22;
}
#CD30 {
  fill: #27ae60;
}
#CD31 {
  fill: #d35400;
}
#CD36 {
  fill: #3498db;
}
#CD41 {
  fill: #e74c3c;
}
#CD42 {
  fill: #2980b9;
}
#CD43 {
  fill: #c0392b;
}
#CD44 {
  fill: #9b59b6;
}
#CD45 {
  fill: #8e44ad;
}
#CD46 {
  fill: #34495e;
}
#CD47 {
  fill: #2c3e50;
}
#CD48 {
  fill: #1abc9c;
}
#CD50 {
  fill: #f1c40f;
}
.TEXT {
  fill: #ffffff;
  font-size: 16;
  font-weight: bold;
  text-anchor: middle;
  alignment-baseline: middle;
}
