<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>시 도별 발생 동향</title>
  </head>
  <body>
    <% include ../views/header %> <% include ../views/navbar %>
    <h1>시 도별 발생 동향</h1>
  </body>
</html>
