<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>확진자 동선</title>
  </head>
  <body>
    <% include ../views/navbar %>
    <h1>확진자 동선</h1>
  </body>
</html>
