<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> 코로나 현황</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <% include ../views/navbar %>
    <h1><%= title %></h1>
    <p><%= title %>'s Covid19 project</p>
    <p>Chiyong, Jihyeon, Junyeop</p>
    <% include ../views/chart %>
  </body>
</html>
