<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> 코로나 현황</title>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script> -->
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"
      integrity="sha512-hZf9Qhp3rlDJBvAKvmiG+goaaKRZA6LKUO35oK6EsM0/kjPK32Yw7URqrq3Q+Nvbbt8Usss+IekL7CRn83dYmw=="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <% include ../views/navbar %>
    <h1><%= title %></h1>
    <p><%= title %>'s Covid19 project</p>
    <p>Chiyong, Jihyeon, Junyeop</p>
    <p>js Data : <%= data %></p>
    <div>
      <canvas id="myChart"></canvas>
    </div>
    <div id="btn">
      <h1 id="clock">00:00</h1>
    </div>
    <!-- <% include ../views/chart %> -->
    <!-- <script src="/javascripts/chart.js"></script> -->
    <scrirpt src="/javascripts/ccc.js"></scrirpt>
  </body>
</html>
