<div class="fourthsection" id="fourthsection">
    <div class="fourthright">
      <h3
        style="
          font-family: 'Noto Sans KR', sans-serif;
          text-align: center;
          font-size: 25px;
        "
      >
        코로나 관련 뉴스
      </h3>
        <div class="fourth-newssection">
          <img src="../images/kakaotalk.png" class="fourth-img" />
          <div class="fourth-contentsection">
            <span class="fourthheadline">안녕하십니까!!</span><br />
            <span class="fourthcontent">
              - 윤 할머니는 수만 마리 벌레떼가 날아오르는 모습을
              '호롤롤롤롤로'라는 정체불명의 의태어와 손짓으로 설명해 온라인에서
              '호롤롤로 할머니'라는 ...</span
            >
          </div>
        </div>
        <div class="fourth-newssection">
          <img src="../images/kakaotalk.png" class="fourth-img" />
          <div class="fourth-contentsection">
            <span class="fourthheadline">안녕하십니까!!</span><br />
            <span class="fourthcontent">
              - 윤 할머니는 수만 마리 벌레떼가 날아오르는 모습을
              '호롤롤롤롤로'라는 정체불명의 의태어와 손짓으로 설명해 온라인에서
              '호롤롤로 할머니'라는 ...</span
            >
          </div>
        </div>
        <div class="fourth-newssection">
          <img src="../images/kakaotalk.png" class="fourth-img" />
          <div class="fourth-contentsection">
            <span class="fourthheadline">안녕하십니까!!</span><br />
            <span class="fourthcontent">
              - 윤 할머니는 수만 마리 벌레떼가 날아오르는 모습을
              '호롤롤롤롤로'라는 정체불명의 의태어와 손짓으로 설명해 온라인에서
              '호롤롤로 할머니'라는 ...</span
            >
          </div>
        </div>
      </div>
  </div>
  