<footer>
  <div class="ft1">
    <p>개발자 : 김준엽 신치용 박지현</p>
    <img src="/images/logo.jpg" width="50%" />
  </div>
  <div class="ft2">
    <p>민간이 취합한 집계이므로 공식적인 근거 자료로 활용될 수 없고,</p>
    <p>본 사이트에서 제공하는 정보를 사용하고 공유함으로 인해서</p>
    <p>발생된 문제의 책임은 전적으로 사용자에게 있습니다.</p>
    <p id="copyright">copyrightⓒ All rights reserved by WIWY</p>
  </div>
  <div class="ft3"></div>
</footer>
