<div class="fourthsection" id="fourthsection">

  <div class="fourthinnser">
    <h3
      style="
        font-family: 'Noto Sans KR', sans-serif;
        margin-left:30%;
        font-size: 25px;
      "
    >
      코로나 관련 동영상
    </h3>
    <div class="youtube-section">
      <iframe
        class="youtube"
        width="240"
        height="150"
        src="https://www.youtube.com/embed/ZFUnG41xJOY?enablejsapi=1&origin=http://localhost:3000"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      <div class="fourth" id="fourthsection">
        <span class="fourthheadline"
          ><a
            href="https://www.youtube.com/watch?v=ZFUnG41xJOY&feature=emb_logo"
            >(1분45초/수어)코로나19 국민행동수칙 꼭 기억해주세요!!</a
          ></span
        ><br />
        <span class="fourthcontent"
          ><br />- 코로나바이러스감영증-19 국민 행동수칙 함께 지키면 예방할 수
          있습니다. 일반 국민과 고위험군, 유증상자 등 상황에 맞는
          예방행동...</span
        >
      </div>
    </div>
    <div class="youtube-section">
      <iframe class="youtube" width="240" height="150" src="https://www.youtube.com/embed/CWFm-ngEOkU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div>
        <span class="fourthheadline"
          ><a href="https://www.youtube.com/watch?v=CWFm-ngEOkU"
            >[속보] 코로나19 백신 접종 이상 반응 97건 추가... 누적 112건 / YTN</a
          ></span
        ><br />
        <span class="fourthcontent"
          ><br />- 접종 뒤 이상 반응 사례 97건 누적 112건 두통,발열 등 모두 경증... 아나필락시스 등 중증 잔응 없어...</span
        >
      </div>
    </div>
    <div class="youtube-section">
      <iframe
        class="youtube"
        width="240"
        height="150"
        src="https://www.youtube.com/embed/o3NxZ57V2e0"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
      <div>
        <span class="fourthheadline"
          ><a href="https://www.youtube.com/watch?v=o3NxZ57V2e0"
            >"코로나19 백신 접종 4주 뒤..." 놀라운 연구결과 / YTN</a
          ></span
        ><br />
        <span class="fourthcontent"
          ><br />- 백신 접종 속도 내는 유럽은 3월부터 봉쇄완화 추진 유럽의
          봉쇄완화 조치는 신속한 백신 접종 효과에 근거 에든버러대"백신 접종
          4주...</span
        >
      </div>
    </div>
  </div>
</div>
