<div class="fourthsection" id="fourthsection">
   <div class="fourthleft">
      <div class="youtube-section">
         <iframe
           class="youtube"
           width="240"
           height="150"
           src="https://www.youtube.com/embed/ZFUnG41xJOY?enablejsapi=1&origin=http://localhost:3000"
           frameborder="0"
           allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
           allowfullscreen
         ></iframe>
         <div class="fourth">
            <span class="fourthheadline">(1분45초/수어)코로나19 국민행동수칙 꼭 기억해주세요!!</span><br>
            <span class="fourthcontent">코로나바이러스감영증-19 국민 행동수칙 함께 지키면 예방할 수 있습니다. 일반 국민과 고위험군, 유증상자 등 상황에 맞는 예방행동...</span>
         </div>
      </div>
      <div class="youtube-section">
         <iframe
           class="youtube"
           width="240"
           height="150"
           src="https://www.youtube.com/embed/ZFUnG41xJOY?enablejsapi=1&origin=http://localhost:3000"
           frameborder="0"
           allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
           allowfullscreen
         ></iframe>
         <div>
            <span class="fourthheadline">(1분45초/수어)코로나19 국민행동수칙 꼭 기억해주세요!!</span><br>
            <span class="fourthcontent">코로나바이러스감영증-19 국민 행동수칙 함께 지키면 예방할 수 있습니다. 일반 국민과 고위험군, 유증상자 등 상황에 맞는 예방행동...</span>
         </div>
      </div>
      <div class="youtube-section">
         <iframe
           class="youtube"
           width="240"
           height="150"
           src="https://www.youtube.com/embed/ZFUnG41xJOY?enablejsapi=1&origin=http://localhost:3000"
           frameborder="0"
           allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
           allowfullscreen
         ></iframe>
         <div class="fourth">
            <span class="fourthheadline">(1분45초/수어)코로나19 국민행동수칙 꼭 기억해주세요!!</span><br>
            <span class="fourthcontent">코로나바이러스감영증-19 국민 행동수칙 함께 지키면 예방할 수 있습니다. 일반 국민과 고위험군, 유증상자 등 상황에 맞는 예방행동...</span>
         </div>
      </div>
   </div>

   <div class="fourthright">
      <div class="fourth-outline">
         <div class="fourth-newssection"><img src="../images/kakaotalk.png" class="fourth-img">
            <div class="fourth-contentsection">
               <span class="fourthheadline">안녕하십니까!!</span><br>
               <span class="fourthcontent">  - 윤 할머니는 수만 마리 벌레떼가 날아오르는 모습을 '호롤롤롤롤로'라는 정체불명의 의태어와 손짓으로 설명해 온라인에서 '호롤롤로 할머니'라는 ...</span>
            </div>
         </div>
         <div class="fourth-newssection"><img src="../images/kakaotalk.png" class="fourth-img">
            <div class="fourth-contentsection">
               <span class="fourthheadline">안녕하십니까!!</span><br>
               <span class="fourthcontent">  - 윤 할머니는 수만 마리 벌레떼가 날아오르는 모습을 '호롤롤롤롤로'라는 정체불명의 의태어와 손짓으로 설명해 온라인에서 '호롤롤로 할머니'라는 ...</span>
            </div>
         </div>
         <div class="fourth-newssection"><img src="../images/kakaotalk.png" class="fourth-img">
            <div class="fourth-contentsection">
               <span class="fourthheadline">안녕하십니까!!</span><br>
               <span class="fourthcontent">  - 윤 할머니는 수만 마리 벌레떼가 날아오르는 모습을 '호롤롤롤롤로'라는 정체불명의 의태어와 손짓으로 설명해 온라인에서 '호롤롤로 할머니'라는 ...</span>
            </div>
         </div>
      </div>
   </div>
</div>