<h1>시도별 홈페이지</h1>
<div class="homepage">
  <div
    class="box"
    onclick="window.open(`https://www.seoul.go.kr/coronaV/coronaStatus.do`)"
  >
    서울
  </div>
  <div
    class="box"
    onclick="window.open(`https://www.busan.go.kr/covid19/Corona19.do`)"
  >
    부산
  </div>
  <div
    class="box"
    onclick="window.open(`https://www.gg.go.kr/contents/contents.do?ciIdx=1150&menuId=2909`)"
  >
    경기
  </div>
  <div
    class="box"
    onclick="window.open(`https://www.incheon.go.kr/health/HE020409`)"
  >
    인천
  </div>
  <div
    class="box"
    onclick="window.open(`https://www.provin.gangwon.kr/covid-19.html`)"
  >
    강원
  </div>
  <div
    class="box"
    onclick="window.open(`https://www1.chungbuk.go.kr/covid-19/index.do`)"
  >
    충북
  </div>
  <div
    class="box"
    onclick="window.open(`https://www.sejong.go.kr/bbs/R3620/list.do`)"
  >
    세종
  </div>
  <div
    class="box"
    onclick="window.open(`https://www.daejeon.go.kr/corona19/index.do?menuId=0008`)"
  >
    대전
  </div>
  <div
    class="box"
    onclick="window.open(`http://www.chungnam.go.kr/coronaStatus.do`)"
  >
    충남
  </div>
  <div
    class="box"
    onclick="window.open(`https://www.jeonbuk.go.kr/board/list.jeonbuk?boardId=BBS_0000105&menuCd=DOM_000000110001000000&contentsSid=1219&cpath=`)"
  >
    전북
  </div>
  <div class="box" onclick="window.open(`https://www.gwangju.go.kr/c19/`)">
    광주
  </div>
  <div
    class="box"
    onclick="window.open(`https://www.jeonnam.go.kr/coronaMainPage.do`)"
  >
    전남
  </div>
  <div
    class="box"
    onclick="window.open(`http://covid19.daegu.go.kr/index.html`)"
  >
    대구
  </div>
  <div
    class="box"
    onclick="window.open(`https://www.gb.go.kr/corona_main.htm`)"
  >
    경북
  </div>
  <div
    class="box"
    onclick="window.open(`https://www.ulsan.go.kr/u/health/contents.ulsan?mId=001002003000000000`)"
  >
    울산
  </div>
  <div
    class="box"
    onclick="window.open(`http://xn--19-q81ii1knc140d892b.kr/main/main.do`)"
  >
    경남
  </div>
  <div class="box" onclick="window.open(`https://www.jeju.go.kr/corona19.jsp`)">
    제주
  </div>
</div>
