<!DOCTYPE html>
<html>
  <head>
    <title>WIWY COVID EVERYTHING</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"
      integrity="sha512-hZf9Qhp3rlDJBvAKvmiG+goaaKRZA6LKUO35oK6EsM0/kjPK32Yw7URqrq3Q+Nvbbt8Usss+IekL7CRn83dYmw=="
      crossorigin="anonymous"
    ></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
  </head>
  <body>
    <div class="main-section" id="main">
      <% include ../views/header %> <% include ../views/navbar %>
      <div
        class="main-text"
        data-aos="fade-up"
        data-aos-offset="300"
        data-aos-delay="100"
        data-aos-duration="1000"
        data-aos-easing="ease-in-out"
        data-aos-mirror="true"
        data-aos-once="false"
        data-aos-anchor-placement="top-center"
      >
        COVID-19 NEWS
      </div>
    </div>
    <% include ../views/firstsection %>
    <div class="secondsection" id="secondsection">
      <h1>시도별 확진 현황</h1>
      <% include ../views/koreamap %> <% include ../views/secondsection %>
    </div>
    <% include ../views/thirdsection %><% include ../views/fourthsection %>

    <img src="/images/chatbot.png" id="chatbotimg" width="20px" height="20px" />
    <div>
      <a href="#main"><img src="/images/upbtn.png" id="upbtn" /></a>
    </div>
    <!-- <% include ../views/sixsection %> -->
    <% include ../views/homepagelink %>
    <div class="text-section">
      <img src="/images/text1.png" width="200px" height="300px" />
      <img src="/images/text2.png" width="210px" height="300px" />
      <img src="/images/text3.png" width="210px" height="300px" />
    </div>
    <% include ../views/footer %>
    <script src="/javascripts/aosinit.js"></script>
    <script src="/javascripts/copylink.js"></script>
    <script src="/javascripts/cityCovid.js"></script>
    <script src="/javascripts/dailyCovid.js"></script>
  </body>
</html>
