<nav class="navbar">
  <ul class="routesLists">
    <li class="routesLink">
      <a class="routesLink-text" href="/">
        <span>HOME</span>
      </a>
    </li>
    <li class="routesLink">
      <a class="routesLink-text" href="/page/covidStatus">
        <span>COVID-19 현황 그래프</span>
      </a>
    </li>
    <li class="routesLink">
      <a class="routesLink-text" href="/page/city"
        ><span>시도별 발생동향</span></a
      >
    </li>
    <li class="routesLink">
      <a class="routesLink-text" href="/page/city"
        ><span>확진자 이동 경로</span></a
      >
    </li>
    <li class="routesLink">
      <a class="routesLink-text" href="/page/confirmedMovement"
        ><span>변이 바이러스</span></a
      >
    </li>

    <li class="search">
      <form id="searchForm1" action="/search/search.jsp" method="post">
        <input
          type="text"
          id="searchform"
          value
          placeholder="검색어를 입력하세요"
          height="50px"
        />
        <input
          type="submit"
          class="search_btn"
          onclick="search('searchForm1');"
        />
      </form>
    </li>
  </ul>
</nav>
