<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/searchView.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/chart.css" />
  </head>
  <body>
    <% include ../views/header %> <% include ../views/navbar %>
    <!-- <div class="searchsection">
      <div class="searchbox">
        <span class="keyword"><%= keyword %></span>
        <img src="/images/seach.png" id="seachimg" width="6%" height="80%" />
      </div>
    </div> -->
    <div class="searchtext-section">
      <% for (let i = 0 ; i < Object.keys(searchResult.lstOfText).length;i++){
      %>
      <div class="searchResult-link">
        <a href="<%= searchResult.lstOfLink[i] %>">
          <span><%= searchResult.lstOfText[i] %></span>
        </a>
      </div>
      <% } %>
    </div>
    <img src="/images/chatbot.png" id="chatbotimg" width="20px" height="20px" />
    <% include ../views/footer %>
  </body>
  <script src="/javascripts/copylink.js"></script>
</html>
