<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/searchView.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/chart.css" />
  </head>
  <body>
    <div class="main-section">
      <% include ../views/header %> <% include ../views/searchNavbar %>
      <div
        class="main-text"
        data-aos="fade-up"
        data-aos-offset="250"
        data-aos-delay="100"
        data-aos-duration="1000"
        data-aos-easing="ease-in-out"
        data-aos-mirror="true"
        data-aos-once="false"
        data-aos-anchor-placement="top-center"
      >
        COVID-19 NEWS
      </div>
    </div>
    <!-- <div class="searchsection">
      <div class="searchbox">
        <span class="keyword"><%= keyword %></span>
        <img src="/images/seach.png" id="seachimg" width="6%" height="80%" />
      </div>
    </div> -->
    <div class="searchtext-section">
          <h2 class="searchhead-section">검색 결과</h3>
          <% for (let i = 0 ; i < Object.keys(searchResult.lstOfText).length;i++){
          %>
            <div class="searchResult-link">
              <a href="<%= searchResult.lstOfLink[i] %>">
                <span><%= searchResult.lstOfText[i] %></span>
              </a>
              <br>
              <span class="searchCont">- <%= searchResult.lstOfSub[i] %></span>
              <br>
            </div>
              
          <% } %>
    <!-- <script type="text/javascript">
      // for (let i = 0 ; i < Object.keys(searchResult.lstOfText).length;i++){
        $.post('https://graph.facebook.com/v9.0/?scrape=true&id=http%3A%2F%2Fyahoo.com&access_token=EAAL4gmeOttwBAG4iZAFIBp0s44wKJLLiz6PtyTsoIzI68dWhUWeXzRwFhVQLZCGUhZB7Ajdrnvp64SHIfdywZBOBsMwGhsfRM9eRcXt028zonWSOT7QtZC5tlAi1FN8WShZBoFYZCOWEUVaE1NZBzi3IG1g2oZAs3cnrlY3lZBdepPZC5jmPcGFE2FJwUnvWd5nnDLTz2JyNOoj9lsmtXhC5c4ZB4YyYguKBmOlA1acPcZBbtyQZDZD', function(data){
          var img = "";
          $('.title').html(`
            <h1>`+data.title+`</h1>
            <p>`+data.description+`</p>
          `);

          $.each(data.image, function(k, v){
            img += '<img style="width:50%" src="'+v.url+'">';
          });

          $('.images').html(img);
        })
      // }
    </script> -->
    </div>
    <div class="searchtextsub-section">
      <p style="text-align: center; font-size: 18px; font-weight: 600;">연관 검색어</p>
      <p class="keyword-section"><img src="/images/seach.png" id="seachimg" width="15px" height="14px"/>  이건 어떤가요??</p>
      <p class="keyword-section"><img src="/images/seach.png" id="seachimg" width="15px" height="14px"/>  이건 어떤가요??</p>
      <p class="keyword-section"><img src="/images/seach.png" id="seachimg" width="15px" height="14px"/>  이건 어떤가요??</p>
      <p class="keyword-section"><img src="/images/seach.png" id="seachimg" width="15px" height="14px"/>  이건 어떤가요??</p>
      <p class="keyword-section"><img src="/images/seach.png" id="seachimg" width="15px" height="14px"/>  이건 어떤가요??</p>
      <p class="keyword-section"><img src="/images/seach.png" id="seachimg" width="15px" height="14px"/>  이건 어떤가요??</p>
      </div>
    <img src="/images/chatbot.png" id="chatbotimg" width="20px" height="20px" />
    <% include ../views/footer %>
  </body>
  <script src="/javascripts/copylink.js"></script>
</html>
