<nav class="navbar">
  <ul class="routesLists">
    <li class="routesLink">
      <a class="routesLink-text" href="/">
        <span>HOME</span>
      </a>
    </li>
    <li class="routesLink">
      <a class="routesLink-text" href="/#firstsection">
        <span>COVID-19 현황 그래프</span>
      </a>
    </li>
    <li class="routesLink">
      <a class="routesLink-text" href="/#secondsection"
        ><span>시도별 발생동향</span></a
      >
    </li>
    <li class="routesLink">
      <a class="routesLink-text" href="/#thirdsection"
        ><span>국외 발생동향</span></a
      >
    </li>
    <li class="routesLink">
      <a class="routesLink-text" href="/#fourthsection"
        ><span>코로나 관련 이슈</span></a
      >
    </li>

    <li class="search">
      <form id="searchForm1" action="/search/search_process" method="post">
        <input
          type="text"
          id="searchform"
          name="searchTitle"
          value="<%= keyword %>"
          placeholder="검색어를 입력하세요"
        />
        <button type="submit" class="search_btn">
          <img
            src="/images/seach.png"
            id="seachimg"
            width="10px"
            height="10px"
          />
        </button>
      </form>
    </li>
  </ul>
</nav>
