<input type="hidden" value="<%= dailyData %>" id="js-dailyCovid" />
<input type="hidden" value="<%= cityCount %>" id="js-cityCovid" />
<div class="mapright">
  <div class="cityCovidStatus">
    <canvas id="cityCovidChart"></canvas>
  </div>
</div>
