<div class="sixsection">
  <h1>코로나 관련 유튜브 영상</h1>
  <div class="youtubetext">
    <div class="_youtube">
      <iframe
        class="firstyoutube"
        width="360"
        height="215"
        src="https://www.youtube.com/embed/EiopmxT6xBk?enablejsapi=1&origin=http://localhost:3000"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <div class="_text">
      <h2>
        실제 코로나19 완치자들에게 직접 들어보는 코로나19 감염 증상
        (KBS_744회_2020.09.09)
      </h2>
    </div>
  </div>
</div>
