<div class="thirdsection" id="thirdsection">
  <table class="style02">
    <tr>
      <th>나라</th>
      <th>총 확진자</th>
      <th>총 사망자</th>
    </tr>
    <% for(let i=0; i<10 ; i++) { 
      if( i%2 == 0) { %>
    <tr>
      <td class="thstyle01">내용</td>
      <td class="thstyle01">내용</td>
      <td class="thstyle01">내용</td>
    </tr>
    <% } else { %>
      <tr>
        <td class="thstyle02">내용</td>
        <td class="thstyle02">내용</td>
        <td class="thstyle02">내용</td>
      </tr>
    <% } 
    } %>
  </table>
</div>
