footer {
  background-color: rgba(0, 0, 0, 0.8);
}

.ft1 {
  width: 30%;
  height: 250px;
  float: left;
  background-color: rosybrown;
}

.ft2 {
  width: 40%;
  height: 250px;
  float: left;
  background-color: saddlebrown;
}

.ft3 {
  width: 30%;
  height: 250px;
  float: left;
  background-color: slateblue;
}
