.mapdiv {
  width: 30%;
  margin: auto;
  margin-top: 0;
}

.cityname {
  font-size: 15px;
  font-weight: 600;
}

.citycontent {
  font-size: 22px;
  font-weight: 700;
}

button {
  font-family: "Noto Sans KR", "맑은고딕", "Malgun Gothic", "돋움", "Dotum",
    sans-serif;
  /* font-weight: 400; */
  letter-spacing: -0.024em;
  cursor: pointer;
}
/* 서울 */
button.area1 {
  position: relative;
  top: 500px;
  left: 280px;
  background: #fff;
  text-align: center;
  box-shadow: 2px 2px 4px rgb(100 100 100 / 20%);
  border-radius: 2px;
  display: block;
}
/* 부산 */
button.area2 {
  position: relative;
  top: 0px;
  left: 0px;
  background: #fff;
  text-align: center;
  box-shadow: 2px 2px 4px rgb(100 100 100 / 20%);
  border-radius: 2px;
  display: block;
}
/* 인천 */
button.area3 {
  position: relative;
  top: 500px;
  left: 230px;
  background: #fff;
  text-align: center;
  box-shadow: 2px 2px 4px rgb(100 100 100 / 20%);
  border-radius: 2px;
  display: block;
}
/* 경기 */
button.area4 {
  position: relative;
  top: 320px;
  left: 300px;
  background: #fff;
  text-align: center;
  box-shadow: 2px 2px 4px rgb(100 100 100 / 20%);
  border-radius: 2px;
  display: block;
}
/* 강원 */
button.area5 {
  position: relative;
  top: 270px;
  left: 440px;
  background: #fff;
  text-align: center;
  box-shadow: 2px 2px 4px rgb(100 100 100 / 20%);
  border-radius: 2px;
  display: block;
}
/* 세종 */
button.area6 {
  position: relative;
  top: 400px;
  left: 300px;
  background: #fff;
  text-align: center;
  box-shadow: 2px 2px 4px rgb(100 100 100 / 20%);
  border-radius: 2px;
  display: block;
}
/* 충북 */
button.area7 {
  position: relative;
  top: 280px;
  left: 380px;
  background: #fff;
  text-align: center;
  box-shadow: 2px 2px 4px rgb(100 100 100 / 20%);
  border-radius: 2px;
  display: block;
}
/* 충남 */
button.area8 {
  position: relative;
  top: 0px;
  left: 0px;
  background: #fff;
  text-align: center;
  box-shadow: 2px 2px 4px rgb(100 100 100 / 20%);
  border-radius: 2px;
  display: block;
}
/* 대전 */
button.area9 {
  position: relative;
  top: 0px;
  left: 0px;
  background: #fff;
  text-align: center;
  box-shadow: 2px 2px 4px rgb(100 100 100 / 20%);
  border-radius: 2px;
  display: block;
}
/* 경북 */
button.area10 {
  position: relative;
  top: 0px;
  left: 0px;
  background: #fff;
  text-align: center;
  box-shadow: 2px 2px 4px rgb(100 100 100 / 20%);
  border-radius: 2px;
  display: block;
}
/* 전북 */
button.area11 {
  position: relative;
  top: 0px;
  left: 0px;
  background: #fff;
  text-align: center;
  box-shadow: 2px 2px 4px rgb(100 100 100 / 20%);
  border-radius: 2px;
  display: block;
}
/* 대구 */
button.area12 {
  position: relative;
  top: 0px;
  left: 0px;
  background: #fff;
  text-align: center;
  box-shadow: 2px 2px 4px rgb(100 100 100 / 20%);
  border-radius: 2px;
  display: block;
}
/* 전남 */
button.area13 {
  position: relative;
  top: 0px;
  left: 0px;
  background: #fff;
  text-align: center;
  box-shadow: 2px 2px 4px rgb(100 100 100 / 20%);
  border-radius: 2px;
  display: block;
}
/* 광주 */
button.area14 {
  position: relative;
  top: 0px;
  left: 0px;
  background: #fff;
  text-align: center;
  box-shadow: 2px 2px 4px rgb(100 100 100 / 20%);
  border-radius: 2px;
  display: block;
}
/* 경남 */
button.area15 {
  position: relative;
  top: 0px;
  left: 0px;
  background: #fff;
  text-align: center;
  box-shadow: 2px 2px 4px rgb(100 100 100 / 20%);
  border-radius: 2px;
  display: block;
}
/* 울산 */
button.area16 {
  position: relative;
  top: 0px;
  left: 0px;
  background: #fff;
  text-align: center;
  box-shadow: 2px 2px 4px rgb(100 100 100 / 20%);
  border-radius: 2px;
  display: block;
}
/* 제주 */
button.area17 {
  position: relative;
  top: 0px;
  left: 0px;
  background: #fff;
  text-align: center;
  box-shadow: 2px 2px 4px rgb(100 100 100 / 20%);
  border-radius: 2px;
  display: block;
}

/* .mapdiv :hover {
    fill : blue;
} */
