.firstsection {
  /* width: 100%; */
  margin-top: 100px;
  margin-bottom: 100px;
  /* margin-bottom: 200px; */
  height: auto;
}

.koreamap {
  width: 100%;
  height: 1000px;
}

table.coronaboard {
  width: 80%;
  /* border-collapse: collapse; */
  text-align: center;
  line-height: 1.5;
  border-radius: 10px;
  border-left: 1px solid #ccc;
  border-top: 3px solid #ccc;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 0px;
  /* margin-bottom: 100px; */
  box-shadow: 5px 5px 5px 5px gray;
  font-family: Verdana, Geneva, Arial, sans-serif;
}

table.coronaboard th {
  width: 147px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  /* color: #153d73; */
  font-size: 20px;
  background-color: #dbd7d4;
  color: #6d6763;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  position: sticky;
  top: 0px;
}

table.coronaboard td {
  width: 349px;

  padding: 10px;
  vertical-align: top;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

#three td {
  padding: 50px;
}

h1 {
  text-align: center;
}

.mapleft {
  width: 50%;
  height: 800px;
  float: left;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
}

.mapright {
  width: 50%;
  height: 800px;
  float: left;
  box-sizing: border-box;
  background-color: blueviolet;
}

.left {
  width: 50%;
  float: left;
  box-sizing: border-box;
  background-color: rgb(1, 97, 9);
}

.right {
  width: 50%;
  float: right;
  box-sizing: border-box;
  background-color: rgb(243, 124, 184);
}
.sectionsection {
  width: 100px;
  box-sizing: border-box;
  margin-top: 0px;
  margin: 0 auto;
}

.div50 {
  width: 50%;
}
