body {
  margin: 0;
  padding: 0;
  display: block;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.navbar {
  left: 0;
  background-color: #3a3a3a;
  width: 100%;
  height: 48px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar .routesLists {
  list-style: none;
  margin: 0;
  height: 44px;
}
.routesLists .routesLink {
  height: 44px;
  margin-left: 50px;
  margin-right: 50px;
  display: inline;
  font-size: 20px;
}

.navbar .routesLink-text span {
  color: white;
  padding-top: 0px;
}

.logotitle {
  margin: 0px 0px 0px 0px;
  background-color: #3a3a3a;
  padding-bottom: 40px;
}

.logotitle h1 {
  margin: 0px 0px 0px 0px;
  color: white;
  font-weight: bold;
  filter: drop-shadow(5px 5px 5px #100);
  font-size: 50px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.logotitle img {
  position: relative;
  left: 50px;
  top: 70px;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.section input[id*="slide"] {
  display: none;
}

.section .slidelist {
  white-space: nowrap;
  font-size: 0;
  overflow: hidden;
  position: relative;
  padding-left: 0px;
}
.section .slidelist > li {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  transition: all 0.5s;
}
.section .slidelist > li > a {
  display: block;
  position: relative;
}
.section .slidelist > li > a img {
  width: 100%;
  z-index: -1;
}
.section .slidelist label {
  position: absolute;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  padding: 50px;
  cursor: pointer;
}

/* input에 체크되면 슬라이드 효과 */
.section input[id="slide01"]:checked ~ .slidewrap .slidelist > li {
  transform: translateX(0%);
}
.section input[id="slide02"]:checked ~ .slidewrap .slidelist > li {
  transform: translateX(-100%);
}
.section input[id="slide03"]:checked ~ .slidewrap .slidelist > li {
  transform: translateX(-200%);
}

/* 좌,우 슬라이드 버튼 */
.slide-control > div {
  display: none;
}
.section .left {
  left: 30px;
  background: url("../images/left.png") center center / 100% no-repeat;
  filter: drop-shadow(5px 5px 5px #100);
}
.section .right {
  right: 30px;
  background: url("../images/right.png") center center / 100% no-repeat;
  filter: drop-shadow(5px 5px 5px #100);
}
.section
  input[id="slide01"]:checked
  ~ .slidewrap
  .slide-control
  > div:nth-child(1) {
  display: block;
}
.section
  input[id="slide02"]:checked
  ~ .slidewrap
  .slide-control
  > div:nth-child(2) {
  display: block;
}
.section
  input[id="slide03"]:checked
  ~ .slidewrap
  .slide-control
  > div:nth-child(3) {
  display: block;
}

/* 페이징 */
.slide-pagelist {
  text-align: center;
  padding-left: 0px;
}
.slide-pagelist > li {
  display: inline-block;
  vertical-align: middle;
}
.slide-pagelist > li > label {
  display: block;
  padding: 8px 30px;
  border-radius: 30px;
  background: #ccc;
  margin: 20px 10px;
  cursor: pointer;
}
.section
  input[id="slide01"]:checked
  ~ .slidewrap
  .slide-pagelist
  > li:nth-child(1)
  > label {
  background: #999;
}
.section
  input[id="slide02"]:checked
  ~ .slidewrap
  .slide-pagelist
  > li:nth-child(2)
  > label {
  background: #999;
}
.section
  input[id="slide03"]:checked
  ~ .slidewrap
  .slide-pagelist
  > li:nth-child(3)
  > label {
  background: #999;
}

.youtube-section {
  background-color: gray;
}

.plusbtn {
  border: none;
  width: 350px;
  height: 70px;
  cursor: pointer;
  padding: 0px 0px 0px 0px;
}

.text {
  font-family: "굴림";
  font-weight: bold;
}
