table.style01 {
  width: 80%;
  /* border-collapse: collapse; */
  text-align: center;
  line-height: 1.5;
  border-radius: 10px;
  border-left: 1px solid #ccc;
  border-top: 3px solid #ccc;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  /* margin-bottom: 100px; */
  box-shadow: 5px 5px 5px 5px gray;
  font-family: Verdana, Geneva, Arial, sans-serif;
}

table.style01 th {
  width: 147px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  /* color: #153d73; */
  font-size: 20px;
  background-color: #f7c5a5;
  color: #ba4c03;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  /* position: sticky;
    top: 0px; */
}

table.style01 td {
  width: 349px;
  padding: 10px;
  vertical-align: middle;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: white;
  font-size: 12px;
}

table.style02 {
  left: 50%;
  top: 50%;
  width: 40%;
  border-collapse: collapse;
  border-spacing: 0;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 2px 12px rgba(32, 32, 32, 0.3);
  background: #fafafa;
  text-align: center;
  margin: auto;
  margin-bottom: 50px;
}

table.style02 th {
  padding: 12px 15px;
  /* background: #ba68c8; */
  color: rgb(90, 90, 90);
  text-transform: uppercase;
  font-family: 'Noto Sans KR', sans-serif;
}

.thstyle01 {
  padding: 12px 15px;
  font-size : 12px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  background: #F2F2F2;
  color: rgb(90, 90, 90);
  width: 120px;
}
.thstyle02 {
  padding: 12px 15px;
  font-size : 12px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  color: rgb(90, 90, 90);
}

.btn01{
  font-family: "Open Sans", sans-serif;
  color: rgb(90, 90, 90);
  /* width: 70px;
  height: 23px; */
  background-color: rgb(255, 249, 215);
  /* transition: 1s; */
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
  margin: 10px 10px 10px 10px;
  font-size: 17px;
  font-weight: bold;
}